.hangman-inputs input{
  width: 615px;
  padding: 20px;
  text-align: center;
  height: 50px;
  font-size: 35px;
  text-transform: uppercase;
}

.hangman-placeholders {
  display: flex;
  justify-content: center;
}

.hangman-placeholders--char {
  width: 100px;
  height: 100px;
  background: #dfdbdb;
  margin: 5px;
  border-bottom: 10px solid #4b4b4b;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.hangman-keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hangman-keyboard--button {
  height: 60px;
  width: 60px;
  margin: 5px;
  font: 30px sans-serif;
}

.hangman-keyboard--button_found {
  border: 4px #9dffaa dotted;
}

.hangman-keyboard--button_error {
  border: 4px #f00 dotted;
}

.hangman-game-status {
  text-align: center;
  font: 40px sans-serif;
  margin: 20px;
}

.hangman-game-status_over {
  color: rgb(255, 88, 88);
}

.hangman-game-status_restart button {
  color: #fff;
  background: #52cc60;
  border: 5px solid rgb(3, 143, 17);
  padding: 10px;
  margin: 20px;
  font: 40px sans-serif;
}
